.header {
	background-color: orange;
	height: 100px;
}

.btn {
	margin: 2px 5px 1px 0;
	border-radius: 5px;
	padding: 10px;
	background-color: rgba(255, 165, 125, 0.4);
}

.logo {
	text-decoration: none;
	color: black;
	font-size: 1.7rem;
	font-weight: 500;
	float: left;
	text-align: center;
	margin-top: 1rem;
}

.cart-div {
	float: right;
	margin: 25px;
	position: relative;
}

.cart-div img {
	width: 30px;
}

.cart-div span {
	position: absolute;
	z-index: 5;
	background-color: green;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	color: white;
	top: -10px;
	right: 0;
	text-align: center;
}
