.header {
	background-color: orange;
	height: 100px;
}

.logo {
	text-decoration: none;
	color: black;
	font-size: 1.7rem;
	font-weight: 500;
	float: left;
	text-align: center;
	margin-top: 1rem;
}

.cart-div {
	float: right;
	margin: 25px;
	position: relative;
}

.cart-div img {
	width: 30px;
}

.cart-div span {
	position: absolute;
	z-index: 5;
	background-color: green;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	color: white;
	top: -10px;
	right: 0;
	text-align: center;
}

.cart-page-container {
	display: flex;
	margin-left: 2rem;
	margin-right: 2rem;
}

.cart-page-container__table {
	flex: 65%;
	border-collapse: collapse;
}

.cart-page-container__table td {
	border: 1px solid #ccc;
	padding: 15px;
}

.price-details {
	flex: 35%;
	margin: 0 2rem;
}

.adjust-price {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
}

.adjust-price span {
	font-size: 20px;
}
